{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block precontent %}
  <section class="precontent">
    <div class="inner">
      <div class="primary">
        <!-- TODO: change this content -->
        <p class="intro">We are a colony of agencies, organizations and
          individuals based in California and passionate about bat research,
          management, and conservation</p>
      </div>
      <div class="secondary">
        <h2 class="header2">Join the community</h2>
        <form>
          <div><input type="text">
        </form>
      </div>
    </div>
  </section>
{% endblock %}

<!--<section class="content">{{ page.body|richtext }}</section>-->

{% block content %}
  <div class="primary">
    <h2 class="header2">CBWG Updates</h2>
    {% for entry in self.get_updates %}
      <h3 class="header3">
        <a href="{{ entry.url }}">{{ entry.title }}</a>
        - {{ entry.blogpage.date }}
      </h3>
      <p>{{ entry.blogpage.intro }}</p>
    {% endfor %}
  </div>
  <div class="secondary">
    <h2 class="header2">Regional groups</h2>
    <p class="areamap"><a href="/regional-groups/"><img src="{% static 'img/cal.png' %}" alt="See a list of regional groups"></a></p>
  </div>
{% endblock %}

{% block postcontent %}
  <section class="postcontent">
    <div class="inner">
      <div class="primary">
        <h2 class="header2">Initiatives</h2>
      </div>
      <div class="secondary">
        <h2 class="header2">Join the community</h2>
      </div>
    </div>
  </section>
{% endblock %}
