{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block precontent %}
  <section class="precontent wrapper">
    <div class="inner">
      <div class="full">
        <p class="intro">{{ page.body }}</p>
      </div>
    </div>
  </section>
{% endblock %}

<!--<section class="content">{{ page.body|richtext }}</section>-->

{% block content %}
  <div class="primary">
    <h2 class="header2">{{ page.updatesHeader }}</h2>
    {% for entry in self.get_updates %}

        {% with entry.blogpage.main_image as main_image %}
          {% if main_image %}
            {% image main_image fill-200x200-c100 as teaser_img %}
            <div class="miniteaser miniteaser-media">
            <img src="{{ teaser_img.url }}" alt="{{ teaser_img.alt }}" class="miniteaser-img">
          {% else %}
            <div class="miniteaser">
          {% endif %}
        {% endwith %}

        <div class="teaser-content">
          <h3 class="header header3"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
          <p class="date">{{ entry.blogpage.date }}</p>
          <p class="body">{{ entry.blogpage.intro }}</p>
        </div>
      </div>
    {% endfor %}

    <p><a href="/updates/">{{ page.updatesMore }}</a></p>

  </div>

  <div class="secondary">
    <h2 class="header2 header">{{ page.regionalHeader }}</h2>
    {{ page.regionalBody|richtext }}
    <p class="areamap"><a href="/regional-groups/"><img src="{% static 'img/cal.png' %}" alt="See a list of regional groups"></a></p>
  </div>
{% endblock %}

{% block postcontent %}
  <section class="postcontent wrapper">
    <div class="inner">
      <div class="primary">
        <h2 class="header2">{{ page.initiativesHeader }}</h2>
        {{ page.intitiativesBody|richtext }}

      </div>
      <div class="secondary">
        {{ page.secondaryBody|richtext }}

        <a href="/contact/" class="join">Join the mailing list</a>
      </div>
    </div>
  </section>
{% endblock %}
