{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="full">

      <h1 class="header1">{{ page.title }}</h1>
      <div class="intro">{{ page.intro|richtext }}</div>

      {% for post in blogpages %}
        {% with post=post.specific %}
          <div class="teaser">

            {% with post.main_image as main_image %}
                {% if main_image %}
                  {% image main_image fill-1000x400-c100 as teaser_img %}
                  <div class="teaser-img"><a href="{% pageurl post %}">
                    <img src="{{ teaser_img.url }}" alt="{{ teaser_img.alt }}">
                    <h2 class="header2 header">{{ post.title }}</h2>
                  </a></div>
                {% else %}
                  <a href="{% pageurl post %}" class="header"><h2 class="header2">{{ post.title }}</h2></a>
                {% endif %}
            {% endwith %}

            <!-- {% with post.main_image as main_image %}
                {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
            {% endwith %} -->

            <p class="intro">{{ post.intro }}</p>

            <p><a href="{% pageurl post %}">Read more</a></p>

          </div>
        {% endwith %}
      {% endfor %}

      <!-- TODO: pagination -->
    </div>

{% endblock %}
