{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link href="https://fonts.googleapis.com/css?family=Amaranth:700|Nunito:400,400i,700&amp;subset=latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/cbwg.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <header>
          <div class="inner">
            <p class="logo"><a href="/">California Bat Working group</a></p>

            <nav>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/regional-groups/">Regional groups</a></li>
                <li><a href="/blog/">Updates</a></li>
                <li><a href="/links/">Links</a></li>
                <li><a href="/contact/">Contact</a></li>
              </ul>
            </nav>
          </div>
        </header>

        {% block precontent %}{% endblock %}

        <section class="content"><div class="inner">{% block content %}{% endblock %}</div></section>

        {% block postcontent %}{% endblock %}

        <footer>
          <div class="inner">
            <div class="primary">
              <nav>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/">About</a></li>
                  <li><a href="/">Regional groups</a></li>
                  <li><a href="/blog/">Updates</a></li>
                  <li><a href="/">Links</a></li>
                  <li><a href="/">Contact</a></li>
                </ul>
              </nav>
            </div>
            <div class="secondary">
              footer share icons
            </div>
          </div>
        </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/cbwg.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
